<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <timestamp key="TIMESTAMP" datePattern="yyyyMMdd"/>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
<!--              logstash 서버 ip:port-->
        <destination>127.0.0.1:4560</destination>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root>
        <level value="INFO"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

    <logger name="ELK_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="LOGSTASH"/>
    </logger>
</configuration>